

section.main-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3.75em;
    gap: 3.75em;
}

/*------------------------------------------- CONFIGURAÇÕES HEADER DA PÁGINA INDEX--------------------------------------------------------*/

nav button {
    background-color: #CB4F57;
    color: #FCF4B6;

}



nav button:hover {
    background-color: #d65059;
}

/*------------------------------------------- MAIN --------------------------------------------------------*/

/*------------------------------------------- FIRST SECTION --------------------------------------------------------*/

section#first-section {
    background-color: #7A1745;
    display: flex;
    justify-content: center;
}

section#first-section div#first-section-container {
    max-width: 68.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

section#first-section div#information h2 {
    color: #fff;
    text-wrap: nowrap;
    }

section#first-section div#information h2 span {
    color: #FCF4B6;
}

section#first-section div#information p {
    color: #fff;
    max-width: 32em;
    text-align: center;
}

section#first-section div#information button {
    background-color: #CB4F57;
    color: #FCF4B6;

}

section#first-section div#information button:hover{
    background-color: #d65059;
}


section#first-section div#information {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}



/*------------------------------------------- SECOND SECTION --------------------------------------------------------*/

section#second-section {
    background-color: #fff;
}

article#manager-info {
    width: 68.75em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

article#manager-info p{
    font-weight: normal;
    color: #020000;
}

article#image-board {
    display: flex;
    gap: 2.5em;
}

article#image-board div.manager-images div.manager-images-info {
    margin-top: 0.75em;
}

article#image-board div.manager-images img {
    border-top-left-radius: 0.375em;
    border-top-right-radius: 0.375em;
}

/*------------------------------------------- THIRD SECTION --------------------------------------------------------*/

section#third-section{
    background-color: rgba(252, 244, 182, 0.5);
    
}

article#feature-tools-more {
    width: 68.75em;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}



article#feature-tools-examples {
    display: flex;
    justify-content: space-around;
    gap: 2.5em;
    width: 68.75em;
}

div.feature-tools-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25em;

}

div.feature-tools-card-info {
    max-width: 15.32em;
}

div.feature-tools-card div.feature-tools-card-info p:nth-child(odd) {
    font-size: 1.25em;
}

article#feature-tools-examples div.feature-tools-card img {
    max-width: 6.25em;
}

/*------------------------------------------- FOURTH SECTION --------------------------------------------------------*/

section#fourth-section {
    background-color: #fff;
    flex-direction: row;
    height: 388px;

}

section#fourth-section article#subscribe-info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

section#fourth-section article#subscribe-form section#form-enter-email p {
    font-size: 12px;
    color: rgb(0, 0, 0, 50%);
}
