
/*------------------------------------------- CONFIGURAÇÕES HEADER DA PÁGINA INDEX--------------------------------------------------------*/

nav button {
    background-color: #CB4F57;
    color: #FCF4B6;

}



nav button:hover {
    background-color: #d65059;
}

/*------------------------------------------- MAIN --------------------------------------------------------*/

/*------------------------------------------- FIRST SECTION --------------------------------------------------------*/

section#first-section {
    background-color: #7A1745;
    display: flex;
    justify-content: center;
    padding: 1.875em 0;
    max-height: 31em;
}

section#first-section div#container {
    max-width: 68.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

section#first-section div#information h2 {
    color: #fff;
    text-wrap: nowrap;
    }

section#first-section div#information h2 span {
    color: #FCF4B6;
}

section#first-section div#information p {
    color: #fff;
    max-width: 32em;
    text-align: center;
}

section#first-section div#information button {
    background-color: #CB4F57;
    color: #FCF4B6;

}

section#first-section div#information button:hover{
    background-color: #d65059;
}


section#first-section div#information {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}



/*------------------------------------------- SECOND SECTION --------------------------------------------------------*/

section#second-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    padding: 3.75em;
    gap: 3.75em;
}

article#manager-info {
    width: 68.75em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

article#manager-info p{
    font-weight: normal;
    color: #020000;
}

article#image-board {
    display: flex;
    gap: 2.5em;
}

article#image-board div.manager-images div.manager-images-info {
    margin-top: 0.75em;
}

article#image-board div.manager-images img {
    border-top-left-radius: 0.375em;
    border-top-right-radius: 0.375em;
}
